/*
 BACKGROUND IMAGES
 */

.day-sunny
  background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/UME7EFXY5Q.jpg')

.night-clear
  background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/FNTB9JK55T.jpg')

.day-cloudy, .day-cloudy-gusts
  background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/XW9XDRP5VQ.jpg')

.night-cloudy, .night-cloudy-gusts
  background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/GWNKZ945HK.jpg')

.day-cloudy-gusts
  background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/49108VLTH2.jpg')

.night-cloudy-gusts
  background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/87OXNY7BSP.jpg')

.day-sprinkle, .day-rain
  background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/A3GM7T9ZDV.jpg')

.night-sprinkle, .night-rain
  background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/9VB7KQ1V0L.jpg')

.day-thunderstorm
  background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/TEZFRP1VA8.jpg')

.night-thunderstorm
  background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/NCDRQYPBG9.jpg')

.day-snow
  background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/UJ82B81FZA.jpg')

.night-snow
  background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/1Q76J8O82Z.jpg')

.day-fog
  background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/PYK13GFGGB.jpg')

.night-fog
  background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/290456198D.jpg')

.fixed-city
  font-size: 2.125rem !important
  position: relative
  top: 22px
