<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    <meta name="viewport" content="width=device-width, initial-scale=1">
    title Show The Local Weather
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css")
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,600' rel='stylesheet' type='text/css'>
    link(rel="stylesheet", href="css/main.min.css")
  body
    .container
      .card
        .main
          h1 <span class="number"></span> <span class="circle">ยบ</span>
          span.city 
        .info
          .icon
            i.weather-icon.wi
          .unit
            span
          .desc
            span 
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    script(src="js/app.min.js")
